{% extends "layout.html" %}
{% block content %}
    <h1>8CHにようこそ</h1>

    <form action="/thread" method="post">
        <label for="thread">立てる</label>
        <input type="text" name="thread">
        <!-- <textarea name="article" rows="6" cols="100"></textarea>
        <p></p>
        <label for="name">名前</label>
        <input type="text" name="name"> -->
        <button type="submit">作る</button>
    </form>
<iframe src="https://onedrive.live.com/embed?cid=89CBE3F401271A37&amp;resid=89CBE3F401271A37%21345195&amp;authkey=AIVIOx4OINFJjiM&amp;em=2" width="476px" height="288px" frameborder="0">これは、<a target="_blank" href="https://office.com/webapps">Office</a> の機能を利用した、<a target="_blank" href="https://office.com">Microsoft Office</a> の埋め込み型のドキュメントです。</iframe>
    <h2>スレッド一覧</h2>
    {% for thread in threads: %}
        <form action="/thread" method="post">
            <input type="hidden" name="thread" value="{{ thread.threadname }}">
            <button type="submit">{{ thread.threadname }}</button>
        </form>
    {% endfor %}

{% endblock %}

